/* General */
html, body {
  background-color: #f5fff0;
  font-family: 'Georgia', serif;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* Header */
.header {
  background-color: #b5e48c;
  color: #fff;
  font-size: 3rem;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  padding: 20px 0;
}

/* Información izquierda */
.info-text {
  font-style: italic;
  margin-top: 20px;
  text-align: justify;
}

/* Título de resultados */
h4 {
  color: #fff;
}

/* Cuadro de subida */
.upload-box {
  border: 2px dashed #ccc;
  padding: 50px;
  border-radius: 15px;
  text-align: center;
  background-color: #fff;
}

/* Resultados */
.result-box {
  background-color: #b5e48c;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  color: #000;
}

/* Contenedor principal */
.container {
  flex: 1;
}

/* Botón de análisis */
.btn-analyze {
  background-color: #8bc34a;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 1.2rem;
  color: #fff;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.btn-analyze:hover {
  background-color: #689f38;
}

/* Footer */
.footer {
  background-color: #b5e48c;
  color: #fff;
  text-align: center;
  padding: 10px;
  font-size: 1rem;
  margin-top: 30px;
}
